
.App {
  text-align: center;
}

.main_logo{
  width: auto;
  height: 12rem;
}

.app_navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
}

.app_navigation-links{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.app_navigation-links li {
  margin: 0 20px
}

.app_navigation-links li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}